@media screen and (max-width: 640px) {
	html,body,ul,li,header,nav,section,footer{
		padding: 0;
		margin: 0;
	}
	ul{
		list-style: none;
	}
	a{
		text-decoration: none;
	}
	/*banner*/
	.banner{
		width: 100%;
		margin: 0 auto;
	}
	.banner:after{
		content: "";
		width: 0;
		height: 0;
		clear: both;
		display: block;
	}
	.banner img{
		width: 100%;
		float: left;
	}
	/*菜单*/
	.menu{
		width: 100%;
		margin: 0 auto;
		padding: 1.5rem 0;
		background: #f3f3f3;
	}
	.menu ul{
		width: 100%;
	}
	.menu ul:after{
		content: "";
		display: block;
		height: 0;
		width: 0;
		clear: both;
	}
	.menu ul li{
		float: left;
		width: 24%;
		margin-left: 1%;
	}
	.menu ul li img{
		width: 90%;
	}
	.menu ul li .title{
		font-weight: bold;
		font-size: 0.9rem;
		margin-top: 0.5rem;
		color: #000000;
	}
	.menu ul li p{
		text-align: center;
		margin: 0px;
		font-size: 0.9rem;
	}
	.menu ul li .design{
		color: #c5c5c5;
	}
	/*案例展示*/
	.case_show{
		width: 100%;
		margin: 0 auto;
		padding: 1rem 0;
	}
	.case_show .title{
		border-top: 2px solid #02b5ac;
		margin: 0;
		padding-top: 0.5rem;
		padding-left: 1rem;
		color: #02b5ac;
		font-size: 1rem;
	}
	.case_show ul:after{
		content: "";
		display: block;
		height: 0;
		width: 0;
		clear: both;
	}
	.case_show ul{
		margin-top: 1rem;
	}
	.case_show li{
		float: left;
		width: 45%;
		margin-left: 3%;
	}
	.case_show img{
		width: 100%;
	}
	.case_show ul p{
		text-align: center;
		color: #000000;
		font-size:0.9rem;
		margin: 0.5rem 0;
		font-weight: bold;
	}
	/*常见问题及解答*/
	.problem{
		width: 100%;
		margin: 0 auto;
	}
	.problem .title{
		border-top: 2px solid #02b5ac;
		margin: 0;
		padding-top: 0.5rem;
		padding-left: 1rem;
		color: #02b5ac;
		font-size: 1rem;
	}
	.problem div{
		padding: 0.6rem 0 0 0;
	}
	.problem div p{
		font-size: 0.9rem;
		margin: 0 0.8rem;
	}
	.problem .ask{
		color: #ffffff;
		padding: 0.5rem;
		background: #127c77;
	}
	.problem .answer{
		padding: 0.5rem 0;
	}
	/*新闻中心*/
	.news_Center{
		width: 100%;
		margin: 0 auto;
	}
	.news_Center .title{
		border-top: 2px solid #02b5ac;
		margin: 0;
		padding-top: 0.5rem;
		padding-left: 1rem;
		color: #02b5ac;
		font-size: 1rem;
		font-weight: bold;
	}
	.news_Center ul{
		margin-top: 1rem;
	}
	.news_Center ul li{
		line-height: 1.2rem;
		border-bottom: 1px solid #02b5ac;
		margin-left: 1rem;
		margin-right: 1rem;
		padding: 0.4rem 0;
		font-size: 0.9rem;
	}
	.news_Center ul li a{
		color: #000000;
	}
	.news_Center p{
		text-align: center;
	}
	.news_Center .more{
		text-align: center;
		border: 1px solid #c9c9c9;
		padding: 0.4rem;
		display: inline-block;
		width: 30%;
		border-radius: 1rem;
		margin: 0 auto;
		font-size: 0.9rem;
		color: #000000;
	}
	/*关于我们*/
	.aboutMe{
		width:100%;
		margin: 0 auto;
		position: relative;
	}
	.aboutMe img{
		width:100%;
	}
	.aboutMe .about_info{
		padding: 1rem 0.3rem 0 0.3rem;
		width: 65%;
		height: 68%;
		position: absolute;
		margin: auto;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: #1e736c;
		opacity: 0.8;
		border-radius : 1.5rem;
	}
	.aboutMe .about_info p{
		text-align: center;
		font-size: 0.9rem;
		color: #ffffff;
		margin: 0;
	}
	.aboutMe .about_info p a{
		color: #ffffff;
	}
	.aboutMe .about_info .title{
		font-size: 1rem;
	}
}