@charset "utf-8";
*{
	margin:0px;
	padding:0px;
}
html,body{
	width:100%;
}
body{
	font-family:"Microsoft Yahei";
}
ul,ol{
	list-style: none;
}
a{
	text-decoration:none;
}
/*导航*/
.nav{#d43b33
	width:100%;
	height:74px;
	background:#d43b33;
}
.nav_content{
	overflow: hidden;
	margin:0px auto;
	width:1000px;
}
.nav_logo{
	float:left;
}
.nav_menu{
	height:74px;
	float:right;
	list-style:none;
	color:white;
	line-height:74px;
}
.nav_menu>li{
	float:left;
	margin:0px 13px;
}
.nav_menu>li:hover{
	background: url("../images/nav_bg.png") no-repeat center bottom;
}
.nav_menu,a{
	color:white;
}
.current{
	background: url("../images/nav_bg.png") no-repeat center bottom;
}
/*BANNER*/
.banner img{
	width:100%;
	margin:0px auto;
	overflow: hidden;
}
/*关于我们*/
.about_we_tab{
	width:100%;
}
.about_we{
	width:1000px;
	margin:0px auto;
	text-align: center;
	padding: 62px 0px;
}
.about_we_show{
	text-align: center;
	position:relative;
}
.about_us{
	color:#626262;
	font-family: "Helvetica Neue LT Pro";
	font-size:20px;
	font-weight:100;
}
.about_we_show p:last-child{
	color:red;
	font-size:18px;
	font-weight:bold;
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-36px;
	margin-top:-9px;
}
.about_we_content p{
	margin-top: 15px;
	font-size: 10px;
	color:#828282;
}
/*我们的企业*/
.we_project{
	padding:65px 0px;
	width: 100%;
	height: 345px;
	background: url(../images/baiye_bg.jpg) repeat;
}
.we_project .we_project_cont{
	width:1000px;
	margin:0px auto;
	overflow:hidden;
}
.we_project .we_project_cont .we_project_left .we_project_title{
	margin-bottom:30px;
}
.we_project .we_project_cont .we_project_left .we_project_title p:first-child{
	color:black;
}
.we_project .we_project_cont .we_project_left .we_project_title p:last-child{
	color:red;
	font-weight:bold;
}
.we_project .we_project_cont .we_project_left dl{
	font-size:14px;
}
.we_project .we_project_cont .we_project_left dl>dt{
	font-weight:bold;
	margin-bottom:10px;
}
.we_project .we_project_cont .we_project_left dl>dd{
	color:#585858;
	margin-bottom:2px;
	border-bottom:1px solid #585858;
}
.we_project .we_project_cont .we_project_left{
	float:left;
}
.we_project .we_project_cont img{
	float:right;
}
/*大事记*/
.big_project{
	padding-top:45px;
	width:100%;
	height:600px;
}
.big_project .big_project_cont{
	width:1000px;
	margin:0px auto;
}
.big_project .big_project_cont .big_project_title p{
	font-size:18px;
	color:black;
	text-align:center;
}
.big_project .big_project_cont .big_project_title p:first-child{
	font-family: "Helvetica Neue LT Pro";
}
.big_project .big_project_cont .big_project_title p:last-child{
	font-family: "FZLTZCHK";
	font-weight:bold;
	margin:5px 0px;
}
.big_project .big_project_cont>.cont{
	color:black;
	font-size:14px;
	color: #424242;
	text-align:center;
	margin-top:50px;
}
.big_project .big_project_show{
	background:#4b4b4b;
	overflow:hidden;
	width:1000px;
	margin:0px auto;
}
.big_project .big_project_show .image1,.image2,.image3,.image4{
	width:250px;
	height:174px;
	margin:0px;
	padding:0px;
}
.big_project .big_project_show img,.image1,.image2,.image3,.image4{
	float:left;
}
.big_project .big_project_show .title{
	font-size:14px;
	margin: 48px 0 0 20px;
}
.big_project .big_project_show .desc{
	font-size:12px;
	padding: 10px 20px;
	height:18px;
	line-height:18px;
}
.big_project>.btm{
	text-align:center;
	padding:15px 0px;
	width:1000px;
	color:white;
	margin:0px auto;
	background:red;
}
/*footer页尾*/
.footer{
	width:100%;
	height:315px;
	background: url("../images/footer_bg.png") repeat;
}
.footer p{
	font-size: 12px;
}
.footer .footer_content{
	width: 1000px;
	margin: 0px auto;
	overflow: hidden;
	padding-top: 56px;
}
.footer .footer_content .footer_logo{
	width:222px;
	float: left;
}
.footer .footer_content .footer_logo img{
	margin-left: 20px;
}
.footer .footer_content .footer_info{
	padding-left: 20px;
	box-sizing: border-box;
	float: left;
}
.footer .footer_content .footer_info h4,p{
	color:white;
}
.footer .footer_content .footer_info h4{
	margin-bottom: 22px;
}
.footer .footer_content .footer_info p:last-child{
	color:#626262;
	margin-top: 52px;
}