<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<style type="text/css">
			active{
				color: red;
			}
		</style>
	</head>
	<body>
		<div id = "app">
			<child :level = "4">
				<ul>
					<li>1</li>
					<li>2</li>
					<li>3</li>
					<li>4</li>
				</ul>
			</child>
		</div>
		<!--<template id = "one">
			<div>
				<h1 v-if="level === 1">
				  <slot>1</slot>
				</h1>
				<h2 v-if="level === 2">
				  <slot>2</slot>
				</h2>
				<h3 v-if="level === 3">
				  <slot>3</slot>
				</h3>
				<h4 v-if="level === 4">
				  <slot>4</slot>
				</h4>
				<h5 v-if="level === 5">
				  <slot>5</slot>
				</h5>
				<h6 v-if="level === 6">
				  <slot>6</slot>
				</h6>
			</div>
		</template>-->
		<script src="https://unpkg.com/vue/dist/vue.js"></script>
		<script type="text/javascript">
			/*
			 	在有时候template模版过长，html代码过多的情况下，不再是好的方法，推荐使用render函数
			 * */
			Vue.component("child",{
				render: function (createElement) {
				    return createElement(
				    	'h' + this.level,// tag name 标签名称
				    	{
				    		'class' : {
				    			active : true
				    		},
				    		style : {
				    			border : "1px solid red"
				    		},
				    		attr : {
				    			id : "box"
				    		},
				    		slot : "show",
				    		on : {
				    			click : this.show
				    		}
				    	},
				    	//createElement("p","hi")
				      	this.$slots.default // 子组件中的阵列，slot中的所有代码都在this.$slots中，默认存储在this.$slots.default下
				    )
				},
				props : ['level'],
				data : function (){
					return {
						a : 1
					}
				},
				methods : {
					show : function (){
						alert(1);
					}
				}
			})
			new Vue({
				el : "#app",
				data : {
					arr : [1,2,3,4]
				}
			})
		</script>
	</body>
</html>
