<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>conf_keyword</title>
	<meta name = "viewport" content="width = device-width,initial-scale = 1,user-scalable = no">
	<!--引入外部bootstrap的css文件-->
	<link rel = "stylesheet" href = "./css/bootstrap.min.css">
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src = "./js/jquery.min.js"></script>
	<!--再引入bootstrap.min.js文件-->
	<script src = "./js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/conf_keyword.css">
	<script type="text/javascript" src = "./js/conf_keyword.js"></script>
</head>
<body>
	<div class = "container con_bor table-responsive">
		<h4 class = "page-header conf">关键字配置<button type = "button" class = "btn btn-success btn-xs" id = "keyw" value = "添加关键字">添加关键字</button></h4>
		<table class = "table table-bordered table-hover table-condensed table-striped" id = "key_table">
			<tr>
				<td>名称</td>
				<td>类型</td>
				<td>创建时间</td>
				<td>操作</td>
			</tr>
		</table>
		<p class = "maxkey">该页面最多支持 10 个关键字。</p>
	</div>
</body>
</html>