<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name = "viewport" content="width = device-width,initial-scale = 1,user-scalable = no">
	<!--引入外部bootstrap的css文件-->
	<link rel = "stylesheet" href = "./css/bootstrap.min.css">
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src = "./js/jquery.min.js"></script>
	<!--再引入bootstrap.min.js文件-->
	<script src = "./js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/index.css">
</head>	
<body>
	<!-- 导航栏 -->
	<div class = "container">
		<nav class = "navbar navbar-fixed-top navbar-default navbar-inverse" style = "background:#000000;">
			<div class = "container">
				<div class = "navbar-header">
					<button class = "navbar-toggle" type = "button" data-toggle = "collapse" data-target = ".navbar-responsive-collapse">
					<span class = "sr-only">Toggle Navigation</span>
					<span class = "icon-bar"></span>
					<span class = "icon-bar"></span>
					<span class = "icon-bar"></span>
					</button>
					<img style = "width:184px;"src = "./img/neu.jpg"/>
				</div>
				<div class = "collapse navbar-collapse navbar-responsive-collapse">
					<ul class = "nav navbar-nav">
						<li>
							<a href = "">Dashboard<span class = ></span></a>
						</li>
						<li class = "dropdown">
							<a href = "javascript:;" class = 'safe1'>安全服务<span class = "caret"></span></a>
								<ul class = "dropdown-menu">
									<li><a href= "?p=back&c=admin&act=show_details" target = "showpage">GitHub Scan</a></li>
									<li><a href= "?p=back&c=admin&act=show_details_baidu" target = "showpage">baidu</a></li>
									<li class = "dropdown">
										<a href = "#" class = "dropdown-toggle" data-toggle = "dropdown">结果列表</a>
										<ul class = "dropdown-menu">
											<li><a href = "?p=back&c=admin&act=show_resultlist" target = "showpage">GitHub</a></li>
											<li><a href = "?p=back&c=admin&act=show_resultlist_baidu" target = "showpage">baidu</a></li>
										</ul>
									</li>
									<li><a href = "?p=back&c=admin&act=show_conf_keyword" target = "showpage">关键字配置</a></li>
									<li><a href = "?p=back&c=admin&act=show_conf_list" target = "showpage">白名单配置</a></li>
									<li><a href= "?p=back&c=admin&act=show_att_soft" target = "showpage">关注软件</a></li>
									<li><a href= "?p=back&c=admin&act=show_history_bug" target = "showpage">历史漏洞</a></li>
									<li><a href= "?p=back&c=admin&act=show_conf_url" target = "showpage">URL配置</a></li>
									<li class = "disabled"><a href= "javascript:;">天眼</a></li>
								</ul>
						</li>
						<li class = "dropdown disabled">
							<a href= "javascript:;" class = 'safe'>业务安全<span class = "caret"></span></a>
								<ul class = "dropdown-menu">
									<li class = "disabled"><a href = "#">当前状态</a></li>
									<li class = "disabled"><a href = "#">报表统计</a></li>
									<li class = "disabled"><a href = "#">详细日志</a></li>
									<li class = "disabled"><a href = "#">修改密匙</a></li>
									<li class = "disabled"><a href = "#">查询Token</a></li>
									<li class = "disabled"><a href = "#">IP白名单</a></li>
									<li class = "disabled"><a href = "#">帮助文档</a></li>
								</ul>
						</li>
						<li class = "disabled">
							<a href = "#" data-toggle = "dropdown">意见反馈</a>
						</li>
					</ul>
					<ul class = "nav navbar-nav navbar-right">
						<li class = "dropdown">
							<a href = "#">
							<?php
								@session_start();
								echo $_SESSION['resources']['user'];
							?>
							<span class = "caret"></span></a>
							<ul class = "dropdown-menu">
								<li class = "disabled"><a href= "javascript:;">联系人修改</a></li>
								<li><a href= "?p=back&c=admin&act=update_user_change">密码修改</a></li>
								<li class = "divider"></li>
								<li><a href= "?p=back&c=admin&act=destroy" onclick ="return exit()">退出登录</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
	<div class="embed-responsive embed-responsive-16by9" style = "margin-top:50px;">
		<iframe class="embed-responsive-item" src="?p=back&c=admin&act=show_details" name = "showpage" id = "iframe"></iframe>
	</div>
	<script>
		function exit(){
			if(window.confirm("您真的要退出吗?")){
				return true;
			}else{
				return false;
			}
		}
	</script>
</body>
</html>

