<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>url结果列表</title>
	<meta name = "viewport" content="width = device-width,initial-scale = 1,user-scalable = no">
	<!--引入外部bootstrap的css文件-->
	<link rel = "stylesheet" href = "./css/bootstrap.min.css">
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src = "./js/jquery.min.js"></script>
	<!--再引入bootstrap.min.js文件-->
	<script src = "./js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="./css/url_resultelist.css">
	<script type="text/javascript" src = "./js/url_resultelist.js"></script>
</head>
<body>
	<div class = "container box">
		<h4 class = "page-header">结果列表</h4>
		<div class = "form-group select form-inline" >
			<select class = "form-control form-info">
				<option>全部</option>
			</select>
		</div>
		<p class = "num">总计 0 条</p>
	</div>
</body>
</html>